server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bugtracker
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
